<%= form_for @enquiry, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset class= "enquiry">
    <legend>Enquiry Basic</legend>

    <div>
      <%= f.label :reference %>
      <%= f.text_field :Reference %>
    </div>

    <div>
      <%= f.label :Location %>
      <%= f.select :Location, [['Chemiepark','chemiepark'],['Farmsum','farmsum'],['Winschoten','winschoten']] %>
    </div>


    <div>
      <%= f.label :description %>
      <%= f.text_area :Description %>
    </div>


    <div>
      <%= f.submit 'Next Step' %>

      <%# 24-11 MG knop die je terug stuurt naar de homepage %>
      <%= button_tag "Annuleren", :type => 'button', :class => "subBtn", :onclick => "location.href = '#{root_path()}'" %>
   
    </div>
   
  </fieldset>

<% end %>
