<%= form_for @enquiry, method: :put, url: wizard_path do |f| %>
  <% if f.object.errors.any? %>
    <div class="error_messages">
      <% f.object.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <fieldset>
    <legend>Enquiry </legend>

    <div>
      <%= f.label :uitvoerenden  %>
      <%= f.number_field :Amount, rows: 10 %>
    </div>

    <div>
      <%= f.label :date%>
      <%= f.date_select :Date %>
    </div>

    <div>
      <%= f.label :Time%>
      <%= f.time_select :Time %>
    </div>

    <div>
      <%= f.submit 'Next Step' %>
          <%# knop naar vorige pagina %>
      <%= button_to "vorige", enquirys_path %>

  <%# 24-11 MG knop die je terug stuurt naar de homepage %>
      <%= button_tag "Annuleren", :type => 'button', :class => "subBtn", :onclick => "location.href = '#{root_path()}'" %>

    </div>


  </fieldset>
<% end %>

